html{
    height: auto;
    min-height: 100%;
}
a{
    color: white;
    background-color: rgb(0, 146, 151);
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
h1{
    background-color: #80808038;
    border: 10px double rgb(0, 146, 151);
    border-radius: 9px;
    text-align: center;
    display: block;
    margin: auto;
}
body {
    background: linear-gradient(white,#21abd454);
  }
span{
    text-align: left;
}
