html{
    height: auto;
    min-height: 100%;
}
a{
    color: white;
    background-color: #457b9d;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1{
    background-color: #1d3557;
    border: 10px double white;
    color: white;
    border-radius: 9px;
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background: linear-gradient(white,#21abd454);
}
span{
    text-align: left;
}
div{
    text-align: center;
}
hr{
    border-bottom: 10px double #1d3557;
}
