body{
    background: linear-gradient(white,#757474,#457b9d);
}
html{
    height: auto;
    min-height: 100%;
}
h1 img{
    width: 120px;
}
a{
    padding: 15px;
    padding-right: 30px;
    margin-left: 10px;
}
.padding{
    padding-top: 10px;
}
.aCenter{
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #457b9d;
    color: white;
    padding: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-bottom: 15px;
}
.p{
    background-color: #457b9d;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: justify;
}
.imagen{
    width: 98%;
    height: 150px;
    border-radius: 20px;
    border: 10px solid #1d3557;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
h2{
    background-color: #1d3557;
    padding: 10px;
    padding-left: 20px;
    color: white;
}
.tarj{
    padding-left: 80px;
}
section{
    background-color:#1d3557;;
    padding-bottom: 30px;
}
hr{
    border: 2px solid white;
}
section{
    color: white;
}
section h2{
    text-align: center;
}
section h6{
    text-align: right;
    color: aqua;
}
section p{
    padding-top: 30px;
    padding-left: 20px;
}
section span{
    font-weight: bold;
    color: aqua;
}
span{
    font-weight: bold;
    color: darkblue;
}


